@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.ah {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.ahaft {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.bh {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase
    }
.bhaft {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase
    }
.bk {
    display: block;
    font-size: 2em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.bk1 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center;
    text-indent: 0
    }
.bkau {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.bkht {
    display: block;
    font-size: 1.41667em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.bkpub {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: center;
    text-indent: 0
    }
.bqf {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.bql {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 1em
    }
.bqo {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.bqs {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: 95%;
    text-align: center;
    text-indent: 0;
    width: auto
    }
.calibre2 {
    font-style: italic;
    line-height: 1.2
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre5 {
    height: 50px;
    text-align: center;
    text-indent: 0;
    width: 198px
    }
.calibre6 {
    margin-bottom: 3em;
    margin-top: 2em
    }
.calibre7 {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 1em
    }
.calibre8 {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre9 {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em
    }
.calibre10 {
    display: block;
    list-style-type: none;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre11 {
    display: block;
    page-break-after: always
    }
.calibre12 {
    height: 50px;
    text-align: center;
    text-indent: 0;
    width: 222px
    }
.calibre13 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre14 {
    display: list-item;
    margin-top: 0.25em
    }
.calibre15 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre16 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre17 {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.cip {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -1em
    }
.cipf {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1.25em;
    text-align: left;
    text-indent: -1em
    }
.cn {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.cover {
    display: block;
    margin-bottom: 0;
    margin-top: -0.75em
    }
.crt {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.crtf {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1.25em;
    text-align: left;
    text-indent: 0
    }
.ctfm {
    display: block;
    font-size: 1.41667em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center;
    text-indent: 0
    }
.ded {
    display: block;
    font-style: normal;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center;
    text-indent: 0
    }
.dedf {
    display: block;
    font-style: normal;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: center;
    text-indent: 0
    }
.dia {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: -1em
    }
.diaf {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify;
    text-indent: -1em
    }
.dial {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: -1em
    }
.dialogue {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 1.5em
    }
.dispk {
    font-weight: bold
    }
.enref {
    color: blue;
    font-size: 0.75em;
    text-decoration: none;
    vertical-align: super
    }
.epigraph {
    display: block;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em
    }
.epsl {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.epslf {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.ept {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 2em;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.exaft {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.exercise {
    background-color: #EBEBEB;
    border-bottom-color: #737373;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #737373;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 25px;
    border-right-color: #737373;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #737373;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    page-break-inside: avoid
    }
.exh {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.exul {
    display: list-item;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.exulf {
    display: list-item;
    margin-top: 1.5em;
    text-align: center;
    text-indent: 0
    }
.exull {
    display: list-item;
    margin-bottom: 1.5em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.fig {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.figure {
    display: block;
    margin-bottom: 1.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.25em;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0
    }
.fn {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: -1em
    }
.footnote {
    display: block
    }
.list {
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em
    }
.nl {
    display: list-item;
    margin-top: 0.25em;
    text-align: left;
    text-indent: -1em
    }
.nlf {
    display: list-item;
    margin-top: 1.5em;
    text-align: left;
    text-indent: -1em
    }
.nll {
    display: list-item;
    margin-bottom: 1.5em;
    margin-top: 0.25em;
    text-align: left;
    text-indent: -1em
    }
.notes {
    display: block;
    margin-left: 1em;
    margin-top: 1.5em
    }
.notes1 {
    display: block;
    margin-left: 1em;
    margin-top: 0.5em
    }
.paft {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0
    }
.page {
    line-height: 1.2
    }
.pf {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.25em;
    text-align: justify;
    text-indent: 0
    }
.pf1 {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify;
    text-indent: 0
    }
.rvd {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: right;
    text-indent: 1em
    }
.rvf {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.rvh {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.rvt {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 45%;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: right;
    text-indent: 0;
    text-transform: uppercase
    }
.senseline {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1.5em
    }
.serahaft {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase
    }
.sl {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: left;
    text-indent: -1em
    }
.slf {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-indent: -1em
    }
.sll {
    display: block;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: left;
    text-indent: -1em
    }
.sm {
    font-size: 0.75em
    }
.toc {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 1.25em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.tocbmf {
    display: block;
    font-style: normal;
    margin-bottom: 0.25em;
    margin-left: 0.25em;
    margin-right: 0;
    margin-top: 1.25em;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase
    }
.tocf {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    margin-right: 0;
    margin-top: 1.25em;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase
    }
.tocfm {
    display: block;
    font-style: normal;
    margin-bottom: 0.25em;
    margin-left: 0.25em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: left;
    text-indent: 0;
    text-transform: uppercase
    }
.ul {
    display: list-item;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.ul1 {
    display: list-item;
    margin-left: 1em;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.ul1l {
    display: list-item;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.ulf {
    display: list-item;
    margin-top: 1.5em;
    text-align: left;
    text-indent: 0
    }
.ulh {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.ull {
    display: list-item;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    text-align: left;
    text-indent: 0
    }
.xref {
    color: blue;
    text-decoration: none
    }
.xref1 {
    color: blue;
    line-height: 1.2;
    text-decoration: none
    }

